@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css');
@import url('https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css');

* {
    font-family:'Roboto', Arial, Helvetica, sans-serif;
    justify-content: center;
    text-align: center;
}

html {
    min-height: 100%;
    /* background-color: rgb(126, 88, 161); */
}

.center {
    text-align: center;
}

h1 {
    font-weight: 400;
    color: rgb(118, 117, 117);
}

label {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.559);
}

select {
    cursor: pointer;
}

.div-quote {
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    border-color: whitesmoke;
    border-radius: 0.7rem;
    position: relative;
}

.div-quote::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,
    #cb9df4,#8656af, #361851, #18042b9f, 
     #11031fa3, #3a1c55, #8656af, #cb9df4);
    background-size: 800%;
    border-radius: 10px;
    filter: blur(6px);
    animation: glowing 45s linear infinite;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    25% {
        background-position: 200% 0;
    }
    50% {
        background-position: 400% 0;
    }
    75% {
        background-position: 200% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.div-blocked {
    pointer-events: none;  
}


select, input {
    min-width: 50% !important;
    width: 70% !important;
}

.separate {
    margin: 20px;
}

#valorPoliza {
    color: #892be2ac;
    font-size: large;
    font-weight: 500;
}

span {
    color: #892be2;
    font-weight: 700;
}


button:hover {
    color: whitesmoke !important;
    background-color: blueviolet !important;
}

button:active {
    background-color: rgb(178, 104, 247) !important;
}
